@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
   Vidya Prasad<br />
    Bangalore 560075<br />
    <abbr title="Phone">Ph:</abbr>
    9739267742
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@example.com</a>
</address>